<div id="content-container">
        <div id="content" class="clearfix">
            <div id="main-content">
                <div id="breadcrumbs" class="clearfix">
                    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="index.html" itemprop="url" class="icon-home">
                            <span itemprop="title">Home</span>
                        </a> <span class="arrow">&gt;</span>
                    </div>  
                    <span class="last-breadcrumbs">
                        Start a thread
                    </span>
                </div>
                <article class="static-page">
                    <h1 id="main-title">Have a Question! Start your thread</h1>
                    <p>Morbi lacinia nisl enim, sed tempor felis porttitor ut. Nulla facilisi. Vivamus ut venenatis tellus. Praesent dictum nibh semper, ullamcorper velit a, semper est.</p>
                     <h2>General Question</h2>
                      <% @messages.each do |message| %>
                            <h3 class="title-faq"><%=link_to message.title, message_path(message)%>
                               <% if current_admin.id == message.admin_id%> <span><%= link_to image_tag("Pencil-icon.png"),edit_message_path(message)%></span>
                                <span><%= link_to image_tag("trash-icon.png"),message_path(message), method: :delete, data: {confirm: "Are you sure?"}%>
                                </span>
<%end%>  
                            </h3>
                      <%end%>      
                            
                        
                            
                </article>
            </div>
            <div id="sidebar">
                <aside class="widget-container">
                    <div class="widget-wrapper clearfix">
                        <h3 class="widget-title">News Category</h3>
                        <ul>
                            <li><a href="#">Breaking News</a></li>
                            <li><a href="#">Science</a></li>
                            <li><a href="#">Student Story</a></li>
                            <li><a href="#">Campus Magazine</a></li>
                            <li><a href="#">Note from Principal</a></li>
                            <li><a href="#">Faculty News</a></li>
                        </ul>
                    </div>
                </aside>
                

                
            </div>
            
        </div>
    </div>