<div id="content-container">
        <div id="content" class="clearfix">
            <div id="main-content">
                <div id="breadcrumbs" class="clearfix">
                    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="index.html" itemprop="url" class="icon-home">
                            <span itemprop="title">Home</span>
                        </a> <span class="arrow">&gt;</span>
                    </div>  
                    <span class="last-breadcrumbs">
                        Teachers
                    </span>
                </div>
                <article class="static-page">
                    <ul id="list-category-team">
                        <li><a href="team-category.html">Chemistry</a></li>
                        <li><a href="team-category.html">Management</a></li>
                        <li><a href="team-category.html">Information Technology</a></li>
                        <li><a href="team-category.html">Design &amp; Visual</a></li>
                        <li><a href="team-category.html">Physician</a></li>
                        <li><a href="team-category.html">Math</a></li>
                        <li><a href="team-category.html">Earth Science</a></li>
                    </ul>
                    <div id="team-container">
                        <h1 id="main-title">Teachers</h1>
                        <p>The following page contains links to teachers profiles'.</p>
                        <ul id="list-team">
                        	<% i=0 %>
                        	<% @teachers.each do |teacher|%>
							<% i=i+1 %>
								<% if i%3==0 %>
	<br>

                            <li class="last">
                            	<% else %>
                            	<li>
                            	<% end %>
                                <a href="teamdetail.html">
                                   <%= link_to image_tag(teacher.teacher_img.url(:medium)), teacher %>
                                    <strong><%= link_to teacher.full_name, teacher %></strong>
                                </a>
                            </li>
                             	 
                            <% end %>
                        </ul>
                    </div>
                </article>
            </div>
            <div id="sidebar">
                <aside class="widget-container">
                    <div class="widget-wrapper clearfix">
				        <h3 class="widget-title">News Category</h3>
                        <ul>
                            <li><a href="#">Breaking News</a></li>
                            <li><a href="#">Science</a></li>
                            <li><a href="#">Student Story</a></li>
                            <li><a href="#">Campus Magazine</a></li>
                            <li><a href="#">Note from Principal</a></li>
                            <li><a href="#">Faculty News</a></li>
                        </ul>
                    </div>
                </aside>
                <aside class="widget-container">
				        <div class="widget-wrapper clearfix">
				            <h3 class="widget-title">Latest Event</h3>
				                <ul class="menu event-sidebar">			
								    <li class="clearfix">
								        <div class="event-date-widget">
                                            <strong>28</strong>
                                            <span>Nov</span>
                                        </div>
                                        <div class="event-content-widget">
                                            <article>
                                                <h4><a href="#">Musicfest 2013</a></h4>
                                                <p>November 28, 2013 - November 30, 2013<br />
                                                    9:00 AM - 10:00 AM
                                                </p>
                                                <em>Campus Auditorium</em>
                                            </article>
                                            <article>
                                                <h4><a href="#">HTML5 &amp; CSS3 Workshop</a></h4>
                                                <p>November 28, 2013<br />
                                                    11:00 AM - 1:00 PM
                                                </p>
                                                <em>IT Center Building E</em>
                                            </article>
                                        </div>
								    </li>
                                    <li class="clearfix">
								        <div class="event-date-widget">
                                            <strong>25</strong>
                                            <span>Nov</span>
                                        </div>
                                        <div class="event-content-widget">
                                            <article>
                                                <h4><a href="#">Foodfest 2013</a></h4>
                                                <p>November 25, 2013 - November 27, 2013<br />
                                                    9:00 AM - 10:00 AM
                                                </p>
                                                <em>Campus Canteen</em>
                                            </article>
                                            <article>
                                                <h4><a href="#">Student Festival</a></h4>
                                                <p>November 25, 2013 - November 26, 2013<br />
                                                    8:00 AM - 9:00 AM
                                                </p>
                                                <em>Basketball Court</em>
                                            </article>
                                        </div>
								    </li>
								</ul>
                            <a href="#" class="button-more">More Event</a>
				        </div>
				    </aside>
            </div>
            
        </div>
    </div>



