<%= simple_form_for ([ @school, @school.reviews.build]) do |f| %>
<div id="rating-form">
  <label> Rating </label>
</div>
  <br>
   <%= f.input :comment, label: "Comment",class: "input" %>
  <br>
   <%= f.button :submit,class: "button" %>
  <br>
<% end %>

<script>
$('#rating-form').raty({
  path: '/',
  scoreName: 'review[rating]'
});
</script>